{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>I love stats</title>
        <link href="{% static "stats/css/index.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div class="header">
            <h1>I love stats!</h1>
        </div>
        <table class="stats-table">
            <thead>
                <tr>
                    <th>Statistic</th>
                    <th>Level</th>
                    <th>Image</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for q in data %}
                    <tr>
                        <td>{{ q.percentage|floatformat:2 }}%</td>
                        <td>{{ q.level }}</td>
                        <td>
                            <img src="{{ q.image }}" alt="">
                        </td>
                        <td>{{ q.question }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
